 body {
     height: 100vh;
     width: 100vw;
     font-family: Arial, Helvetica, sans-serif;
     padding-bottom: 4rem;
     background-image: linear-gradient(to bottom right, rgb(0, 0, 255), rgb(82, 158, 209, 0.7));
 }

 .mainCal {
     margin-top: 5rem;
     height: 90%;
     width: 20%;
     border-radius: 30px;

 }


 .symbols {
     width: 100%;
     height: 100%;
     border-radius: 0px 0px 15px 15px;
     background-image: linear-gradient(to right top, rgba(0, 255, 255, 0.6), rgba(114, 206, 206, 0.5), rgba(77, 221, 221, 0.5), rgb(141, 221, 235));
     border-radius: 30px;




 }

 .opt,
 .num1,
 .num2,
 .num3,
 .foot {
     width: 100%;
     height: 20%;


 }


 .button {
     height: 45px;
     width: 45px;
     font-size: 1.3rem;
     border-radius: 50%;
     border: none;
     background-color: rgb(158, 221, 221);
     color: black;


 }

 .buttonOpt {
     height: 45px;
     width: 45px;
     font-size: 1.3rem;
     border-radius: 50%;
     border: none;
     background-color: rgb(158, 221, 221);
     color: black;

 }

 .buttonOptAllClear {
     height: 45px;
     width: 45px;
     border-radius: 50%;
     border: none;
     background-color: rgb(158, 221, 221);
     color: black;
     font-size: 1.3rem;
 }



 .put {
     width: 100%;
     height: 40%;
     border-radius: 20px 20px 0 0;


 }

 #input {
     width: 100%;
     height: 100%;
     border: none;
     color: black;
     font-size: 2rem;
     text-align: right;
     padding-top: 6rem;
     border-radius: 20px 20px 0 0;
 }

 #input:focus {
     outline: none;
 }

 #input::placeholder {
     color: white;
 }




 @media (min-width: 100px) and (max-width: 320px) {
     body {
         height: 100vh;
         width: 100vw;
     }

     .mainCal {
         margin-top: 5rem;
         height: 90%;
         width: 60%;
         border-radius: 30px;
     }


     .symbols {
         width: 100%;
         height: 100%;
         border-radius: 0px 0px 15px 15px;
         background-image: linear-gradient(to right top, rgba(0, 255, 255, 0.6), rgba(114, 206, 206, 0.5), rgba(77, 221, 221, 0.5), rgb(141, 221, 235));
         border-radius: 30px;



     }

     .put {
         width: 100%;
         height: 40%;
         border-radius: 20px 20px 0 0;


     }

     #input {
         width: 100%;
         height: 100%;
         border: none;
         color: black;
         font-size: 1.2rem;
         text-align: right;
         padding-top: 6rem;
         border-radius: 20px 20px 0 0;
     }


     .button {
         height: 30px;
         width: 30px;
         font-size: 1rem;
         border-radius: 50%;
         border: none;
         background-color: rgb(158, 221, 221);
         color: black;


     }

     .buttonOpt {
         height: 30px;
         width: 30px;
         font-size: 1rem;
         border-radius: 50%;
         border: none;
         background-color: rgb(158, 221, 221);
         color: black;

     }


     .buttonOptAllClear {
         height: 30px;
         width: 30px;
         font-size: 1rem;
         border-radius: 50%;
         border: none;
         background-color: rgb(158, 221, 221);
         color: black;
         font-size: 0.8rem;
     }

 }





 @media (min-width: 320px) and (max-width: 575px) {

     body {
         height: 100vh;
         width: 100vw;
     }

     .mainCal {
         margin-top: 5rem;
         height: 90%;
         width: 40%;
         border-radius: 30px;

     }


     .symbols {
         width: 100%;
         height: 100%;
         border-radius: 0px 0px 15px 15px;
         background-image: linear-gradient(to right top, rgba(0, 255, 255, 0.6), rgba(114, 206, 206, 0.5), rgba(77, 221, 221, 0.5), rgb(141, 221, 235));
         border-radius: 30px;



     }

     .put {
         width: 100%;
         height: 40%;
         border-radius: 20px 20px 0 0;


     }

     #input {
         width: 100%;
         height: 100%;
         border: none;
         color: black;
         font-size: 2rem;
         text-align: right;
         padding-top: 6rem;
         border-radius: 20px 20px 0 0;
     }


     .button {
         height: 45px;
         width: 45px;
         font-size: 1.3rem;
         border-radius: 50%;
         border: none;
         background-color: rgb(158, 221, 221);
         color: black;


     }

     .buttonOpt {
         height: 45px;
         width: 45px;
         font-size: 1.3rem;
         border-radius: 50%;
         border: none;
         background-color: rgb(158, 221, 221);
         color: black;

     }

     .buttonOptAllClear {
         height: 30px;
         width: 30px;
         font-size: 1rem;
         border-radius: 50%;
         border: none;
         background-color: rgb(158, 221, 221);
         color: black;
         font-size: 0.8rem;
     }

 }




 @media (min-width: 576px) and (max-width: 767px) {
     .mainCal {
         margin-top: 5rem;
         height: 90%;
         width: 30%;
         border-radius: 30px;

     }


     .symbols {
         width: 100%;
         height: 100%;
         border-radius: 0px 0px 15px 15px;
         background-image: linear-gradient(to right top, rgba(0, 255, 255, 0.6), rgba(114, 206, 206, 0.5), rgba(77, 221, 221, 0.5), rgb(141, 221, 235));
         border-radius: 30px;



     }

     .put {
         width: 100%;
         height: 40%;
         border-radius: 20px 20px 0 0;


     }

     #input {
         width: 100%;
         height: 100%;
         border: none;
         color: black;
         font-size: 2rem;
         text-align: right;
         padding-top: 6rem;
         border-radius: 20px 20px 0 0;
     }


     .button {
         height: 40px;
         width: 40px;
         font-size: 1.3rem;
         border-radius: 50%;
         border: none;
         background-color: rgb(158, 221, 221);
         color: black;


     }

     .buttonOpt {
         height: 40px;
         width: 40px;
         font-size: 1.3rem;
         border-radius: 50%;
         border: none;
         background-color: rgb(158, 221, 221);
         color: black;

     }

     .buttonOptAllClear {
         height: 40px;
         width: 40px;
         font-size: 1rem;
         border-radius: 50%;
         border: none;
         background-color: rgb(158, 221, 221);
         color: black;
         font-size: 1.1rem;
     }

 }




 @media (min-width: 768px) and (max-width: 991px) {
     .mainCal {
         margin-top: 5rem;
         height: 90%;
         width: 30%;
         border-radius: 30px;

     }


     .symbols {
         width: 100%;
         height: 100%;
         border-radius: 0px 0px 15px 15px;
         background-image: linear-gradient(to right top, rgba(0, 255, 255, 0.6), rgba(114, 206, 206, 0.5), rgba(77, 221, 221, 0.5), rgb(141, 221, 235));
         border-radius: 30px;



     }

     .put {
         width: 100%;
         height: 40%;
         border-radius: 20px 20px 0 0;


     }

     #input {
         width: 100%;
         height: 100%;
         border: none;
         color: black;
         font-size: 2rem;
         text-align: right;
         padding-top: 6rem;
         border-radius: 20px 20px 0 0;
     }


     .button {
         height: 35px;
         width: 35px;
         font-size: 1.3rem;
         border-radius: 50%;
         border: none;
         background-color: rgb(158, 221, 221);
         color: black;


     }

     .buttonOpt {
         height: 35px;
         width: 35px;
         font-size: 1.3rem;
         border-radius: 50%;
         border: none;
         background-color: rgb(158, 221, 221);
         color: black;

     }

     .buttonOptAllClear {
         height: 35px;
         width: 35px;
         font-size: 1rem;
         border-radius: 50%;
         border: none;
         background-color: rgb(158, 221, 221);
         color: black;
         font-size: 1.1rem;
     }


 }


 @media (min-width: 992px) and (max-width: 1199px) {
     .mainCal {
         margin-top: 5rem;
         height: 90%;
         width: 30%;
         border-radius: 30px;

     }


     .symbols {
         width: 100%;
         height: 100%;
         border-radius: 0px 0px 15px 15px;
         background-image: linear-gradient(to right top, rgba(0, 255, 255, 0.6), rgba(114, 206, 206, 0.5), rgba(77, 221, 221, 0.5), rgb(141, 221, 235));
         border-radius: 30px;



     }

     .put {
         width: 100%;
         height: 40%;
         border-radius: 20px 20px 0 0;


     }

     #input {
         width: 100%;
         height: 100%;
         border: none;
         color: black;
         font-size: 2rem;
         text-align: right;
         padding-top: 6rem;
         border-radius: 20px 20px 0 0;
     }


     .button {
         height: 45px;
         width: 45px;
         font-size: 1.3rem;
         border-radius: 50%;
         border: none;
         background-color: rgb(158, 221, 221);
         color: black;


     }

     .buttonOpt {
         height: 45px;
         width: 45px;
         font-size: 1.3rem;
         border-radius: 50%;
         border: none;
         background-color: rgb(158, 221, 221);
         color: black;

     }

     .buttonOptAllClear {
         height: 45px;
         width: 45px;
         font-size: 1.3rem;
         border-radius: 50%;
         border: none;
         background-color: rgb(158, 221, 221);
         color: black;
        
     }


 }