 body {
     height: 100vh;
     width: 100vw;
     font-family: Arial, Helvetica, sans-serif;
 }

 .mainCal {
     height: 90%;
     width: 50%;
 }

 .symbols {
     width: 50%;
     height: 70%;
     border-radius: 0px 0px 15px 15px;

 }

 .opt,
 .num1,
 .num2,
 .num3,
 .foot {
     width: 100%;
     height: 20%;

 }

 .button {
     height: 50px;
     width: 50px;
     font-size: 1.5rem;
     border-radius: 50%;
     border: none;
     background-color: black;
     color: white;
     box-shadow: inset 1px 2px 1px 0.3px rgb(114, 109, 109), 1px 2px 2px 0.5px rgba(0, 0, 0, 0.4);

 }

 .buttonOpt {
     height: 50px;
     width: 50px;
     font-size: 1.5rem;
     border-radius: 50%;
     border: none;
     background-color: black;
     color: rgb(0, 170, 0);
     box-shadow: inset 1px 2px 1px 0.3px rgb(114, 109, 109), 1px 3px 2px 1px rgba(0, 0, 0, 0.4);

 }


 .equal {
     grid-column: span 2;

     background-color: rgb(255, 153, 0);
 }


 .put {
     background-color: rgb(92, 91, 91);

     width: 50%;
     height: 15%;
     margin-top: 3rem;
     border-radius: 15px 15px 0px 0px;

 }

 #input {
     background-color: rgb(91, 91, 92);
     width: 100%;
     height: 70%;
     border: none;
     color: white;
     font-size: 2rem;
     text-align: right;
     padding-top: 30px;
 }

 #input:focus {
     outline: none;
 }

 #input::placeholder {
     color: white;
 }





 @media (max-width: 575px) {
     .mainCal {
         width: 50vw;
         height: 100vh;
     }

     .symbols {
         width: 100%;
         height: 70%;
     }

     .put {
         width: 100%;
         height: 15%;
     }

     #input {
         font-size: 1.7rem;
     }

     .button {
         width: 40px;
         height: 40px;
         border-radius: 50%;
         font-size: 1.1rem;
     }

     .buttonOpt {
         width: 40px;
         height: 40px;
         border-radius: 50%;
         font-size: 1.1rem;
     }


 }



 @media (min-width: 576px) and (max-width: 767px) {
     .mainCal {
         width: 50vw;
         height: 80vh;
     }

     .symbols {
         width: 85%;
         height: 70%;
     }

     .put {
         width: 85%;
         height: 15%;
     }

     #input {
         font-size: 1.5rem;
         padding-top: 20px;
     }

     .button {
         width: 35px;
         height: 35px;
         border-radius: 50%;
         font-size: 0.9rem;
     }

     .buttonOpt {
         width: 35px;
         height: 35px;
         border-radius: 50%;
         font-size: 0.9rem;
     }
 }




 @media (min-width: 768px) and (max-width: 991px) {
     .mainCal {
         width: 50vw;
         height: 100vh;
     }

     .symbols {
         width: 80%;
         height: 70%;
     }

     .put {
         width: 80%;
         height: 15%;
     }

     #input {
         font-size: 1.7rem;
     }

     .button {
         width: 40px;
         height: 40px;
         border-radius: 50%;
         font-size: 1.1rem;
     }

     .buttonOpt {
         width: 40px;
         height: 40px;
         border-radius: 50%;
         font-size: 1.1rem;
     }


 }

 @media (min-width: 992px) and (max-width: 1199px) {
    .mainCal {
         width: 50vw;
         height: 100vh;
     }

     .symbols {
         width: 70%;
         height: 70%;
     }

     .put {
         width: 70%;
         height: 15%;
     }

     #input {
         font-size: 1.7rem;
     }

     .button {
         width: 40px;
         height: 40px;
         border-radius: 50%;
         font-size: 1.1rem;
     }

     .buttonOpt {
         width: 40px;
         height: 40px;
         border-radius: 50%;
         font-size: 1.1rem;
     }


 }